body {
    font-family: sans-serif;
}

.container {
    background-color: rgba(49, 49, 248, 0.765);
    border-radius: 20px;
    width: 300px;
    padding: 10px 5px 30px 5px;
    margin: 100px auto;
}

h2 {
    display: flex;
    justify-content: center;
    padding: 0;
    color: white;
}

input {
    display: flex;
    justify-content: center;
    margin: auto;
    border-radius: 8px;
    border: 0;
    padding: 10px;
}

#sendData {
    padding: 10px 60px;
    font-size: 20px;
    font-style: bold;
    color: rgba(34, 34, 203, 0.765);
}